{% extends "base.html" %}

{% block title %}
Flasksight
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>Hello</h1>
            <p>This is my demo of a websight using python flask. 
        </header>
        <section>
            <h2>Recently Added</h2>
            {% if new_bookmarks %}
                <ul>
                {% for bm in new_bookmarks %}
                    <li>{{ bm.user }} added <a href="{{ bm.url }}"><{{ bm.url }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                no bookmarks yet.
            {% endif %}
            <p>Link</p>
        </section>
        <section>
            <h2>Im enjoying this too much</h2>
            <p>place holder</p>
        </section>
    </article>
{% endblock %}